
caption {
  color: #5B48DE;
  margin: 20px;
}

th {
  background: lightblue;
}

td {
  background-color: #BAABA5;
  height: 50px;
  width: 80px;
}

.racer_table td.active {
  background-color: red;
}

.grid-box{
  width:20px;
  border:1px solid black;
  display:inline-block;
  height:15px;
  margin-top:5px;
}
.next-col{
  clear: both;
}